behave==1.2.6
webdriver-manager @ git+https://github.com/SergeyPirogov/webdriver_manager@d39033e3fa4895599b9cfd0a15b76de9167dfe63
selenium==4.7.2
parse
six
parse_type
certifi
urllib3
requests
python-dotenv
tqdm
packaging